//Colors
$primary-color: #1f1fe4;
$success-color: #0dbe0d;
$warning-color: #f1f10f;
$danger-color: #ff0000;
$danger-bg-color: #ff00003c;
$dark-color: #000;
$light-color: #fff;
$info-color: #03c9c9;
$darkopacity-color: #00000033;
$grayopactiy-color: #cececea0;


//font size
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;

// Padding
$padding-small: 5px 10px;
$padding-medium: 16px;
$padding-large: 24px;

//font weight
$font-weight-medium: 500;

//borderradius
$border-radius-small: 5px;