@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #393939;

  /* Gaps */
  --gap-41xl: 60px;
  --gap-0: 0px;
}

.passBackgroundWithCard1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.interviewCard {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: Poppins;
}

.avatarProfilePictureIcon {
  width: 110px;
  height: 110px;
  position: relative;
  border-radius: 60px;
}

.fullName {
  // max-width: 85px;
  // margin-right: 15px;
  font-family: Poppins;
}

.fullName,
.johnDoe,
.spacer {
  position: relative;
  font-weight: 500;
  display: inline-block;
  font-family: Poppins;
}

.spacer {
  max-width: 4px;
}

.johnDoe {
  width: 220px;
  min-width: 56px;
}

.framesStack {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
}

.position {
  // width: 80px;
  min-width: 46px;
  font-family: Poppins;
  // max-width: 80px;
}

.cncMachineOperator,
.div,
.position {
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.div {
  max-width: 4px;
}

.cncMachineOperator {
  // width: 220px;
  font-family: Poppins;
  min-width: 139px;
}

.framesStack1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
}

.toMeet {
  width: 80px;
  min-width: 47px;
  max-width: 80px;
}

.div1,
.michaelJordan,
.toMeet {
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.div1 {
  max-width: 4px;
}

.michaelJordan {
  width: 220px;
  min-width: 92px;
}

.framesStack2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
}

.taizoinLogoWatermarkIcon {
  width: 329.5px;
  height: 329.5px;
  position: absolute;
  margin: 0 !important;
  top: 117px;
  left: -12px;
  object-fit: contain;
  z-index: 1;
}

.reason {
  width: 80px;
  min-width: 43px;
  max-width: 80px;
}

.div2,
.interview,
.reason {
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.div2 {
  max-width: 4px;
}

.interview {
  width: 220px;
  min-width: 54px;
}

.framesStack3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
  z-index: 2;
}

.date {
  width: 80px;
  min-width: 27px;
  max-width: 80px;
}

.date,
.div3,
.div4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.div3 {
  max-width: 4px;
}

.div4 {
  width: 220px;
  min-width: 68px;
}

.framesStack4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
  z-index: 2;
}

.time {
  width: 80px;
  min-width: 29px;
  max-width: 80px;
}

.am,
.div5,
.time {
  position: relative;
  font-weight: 500;
  display: inline-block;
}

.div5 {
  max-width: 4px;
}

.am {
  width: 220px;
  min-width: 51px;
}

.framesStack5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 7px;
  z-index: 2;
}

.cardDetails,
.cardDetails1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardDetailWrp {
  width: 400px;
  font-size: var(--font-size-mini);
  font-family: Poppinns;
}

.fontPoppins {
  font-family: Poppinns;
}

.cardDetails1 {
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  gap: 12px 0;
  text-align: left;
  font-size: var(--font-size-mini);
}

.cardDetails {
  width: 318px;
  align-items: center;
  gap: 18px 0;
}

.note1,
.thisDigitalInterview {
  position: relative;
  font-weight: 500;
}

.note1 {
  width: 32px;
  display: inline-block;
}

.thisDigitalInterview {
  align-self: stretch;
}

.cardDetailsDiv,
.note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.note {
  align-self: stretch;
  align-items: flex-start;
  gap: 3px 0;
  text-align: left;
  font-size: var(--font-size-3xs);
}

.cardDetailsDiv {
  flex: 1;
  align-items: center;
  gap: 60px 0;
  max-width: 100%;
  z-index: 2;
}

.nterviewCardpass,
.taizoinInterviewCardpassB {
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}

.nterviewCardpass {
  width: 395px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 254.5px);
  left: calc(50% - 197px);
  border-radius: 8px;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.12);
  align-items: center;
  padding: 24px 22px 25px 23px;
  z-index: 1;
}

.taizoinInterviewCardpassB {
  width: 716px;
  height: 711px;
  align-items: flex-end;
  padding: 101px 10px 64px 16px;
  position: relative;
  gap: 0 10px;
}

.sendWhatsapp {
  width: 132px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins;
  color: var(--color-white);
  // text-align: center;
  display: inline-block;
}

.sendWhatsappButton,
.taizoinCandidateInterviewC {
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.sendWhatsappButton {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #169c50;
  width: 156px;
  border-radius: 40px;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}

.sendWhatsappButton:hover {
  background-color: #30b56b;
}

.taizoinCandidateInterviewC {
  width: 100%;
  height: 985px;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  // padding: 80px 20px 93px;
  gap: 60px 0;
  letter-spacing: normal;
  // text-align: center;
  font-size: 30px;
  color: var(--color-darkslategray);
  font-family: Poppins;
}

.fontPoppins {
  font-family: Poppins !important;
}

@media screen and (max-width: 750px) {
  .interviewCard {
    font-size: 24px;
  }

  .taizoinInterviewCardpassB {
    height: auto;
    min-height: 711;
  }

  .taizoinCandidateInterviewC {
    height: auto;
    gap: 60px 0;
  }
}

@media screen and (max-width: 450px) {
  .interviewCard {
    font-size: 18px;
  }

  .div,
  .div1,
  .div2,
  .div3,
  .div5,
  .spacer {
    width: 100%;
    height: 4px;
  }
}
